
{% extends 'base.html' %} {% block content %}
{% load static %}

<!--NavBar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
  <div class="container">
    <img src="{% static "img/louvre-museum-icon-louvre-museum-1282799.png" %}" class="logo px-1 my-1" alt="">
      <h1 class="fs-1 px-1 my-1 text-white serif">Louvre Museum</h1>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item serif"><a class="nav-link" href="{% url 'home' %}">HOME</a></li>          

              <div class="nav-item serif"></div>
              <div class="dropdown">
                  <button class="btn serif btn-secondary dropdown-toggle nav-link active"
                          style="background-color:#343a40"
                          type="button"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false">CATALOG
                  </button>

                  <div class="dropdown-menu animated--fade-in" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{% url 'catalog' %}">All Artworks</a>
                    <a class="dropdown-item" href="">Rooms...</a>
                  </div>
              </div>

              <li class="nav-item serif"><a class="nav-link" href="{% url 'about' %}">ABOUT</a></li>
              <li class="nav-item serif"><a class="nav-link" href="{% url 'contact' %}">CONTACT US</a></li>
          </ul>
      </div>
  </div>
</nav>

<!--SubNavBar-->
<section class="bg-image" style="background-image: url({% static "img/galery_image.jpg" %});">
  <section class="py-5 bg-primary-70">
    <div class="text-center my-2">
      <h1 class="text-white fs-0 my-1 fw-bolder serif">Catalog</h1>
      <p class="text-white-75 fs-4 mb-0 serif">Travel, discover, enjoy!</p>
    </div>
  </section>
</section>



<section id="listings" class="p-4 m-4">
  <div class="container">
    <div class="row">

      {% for artwork in artworkslist %}

      <div class="col-md-4 mb-4">
        <div class="card border-left-dark border-dark rounded shadow" style="background-color:#ced4da;">
          <img class="" style=" max-width: 500px; max-height: 290px; object-fit: none;" src="{{artwork.image.url}}" alt="">
          <div class="card-body">

            <div class="listing-heading text-center">
              <h2 class="serif card-text">{{artwork.name}}</h2>
              <p class="serif text-secondary">{{artwork.type}}</p>
            </div>
            <hr>
            <div class="text-secondary">
                <h2 class="serif"></h2>Author: {{artwork.author}}
            </div>
            <div class="text-secondary">
                <h2 class="serif"></h2>Period: {{artwork.period}}
            </div>
            <div class="text-secondary">
                <h2 class="serif"></h2>Creation Date: {{artwork.creation_date}}
            </div>

          </div>
        </div>
      </div>
        
      {% endfor %}

    </div>
  </div>
</section>


{% comment %} <div class="container">    
  <ul>
    {% for artwork in artworkslist %}


      {% comment %} <div class="card p-2 m-2 border-primary" style="max-width: 624px;">
        <div class="row g-0">

          <div class="col-md-4">
            <img class="card-img-top" src="{{artwork.image.url}}">
          </div>

          <div class="col-md-8">
            <div class="card-body">
              <h2 class="card-title">{{artwork.name}}</h2>
              <hr>
              <h4 class="card-text">{{artwork.type}}</h4>
              <p class="card-text">{{artwork.author}}</p>
              <p class="card-text">{{artwork.period}}</p>
              <p class="card-text">{{artwork.creation_date}}</p>
            </div>
          </div>

        </div>
      </div> {% endcomment %}




      {% comment %} <div class="card px-4 my-4" style="max-width: 1024px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{artwork.image.url}}" class="img-fluid rounded-start">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h2 class="card-title">{{artwork.name}}</h2>
              <hr>
              <h4 class="card-text">{{artwork.type}}</h4>
              <p class="card-text">{{artwork.author}}</p>
              <p class="card-text">{{artwork.period}}</p>
              <p class="card-text">{{artwork.creation_date}}</p>

            </div>
          </div>
        </div>
      </div>

    {% endfor %}
  </ul>
</div> {% endcomment %}

{% endblock content %}