{% extends 'base.html' %} {% block content %}

{% load static %}


<!--NavBar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
  <div class="container">
    <img src="{% static "img/louvre-museum-icon-louvre-museum-1282799.png" %}" class="logo px-1 my-1" alt="">
      <h1 class="fs-1 px-1 my-1 text-white serif">Welcome to Louvre Museum</h1>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item serif"><a class="nav-link active" aria-current="page" href="{% url 'home' %}">HOME</a></li>          

              <div class="nav-item serif"></div>
              <div class="dropdown">
                  <button class="btn serif btn-secondary dropdown-toggle nav-link"
                          style="background-color:#343a40"
                          type="button"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false">CATALOG
                  </button>

                  <div class="dropdown-menu animated--fade-in" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{% url 'catalog' %}">All Artworks</a>
                    
                    {% for room in rooms %}
                      <a class="dropdown-item" href="{% url 'room_catalog' room %}">{{room.name}}</a>
                    {% endfor %}

                  </div>
              </div>

              <li class="nav-item serif"><a class="nav-link" href="{% url 'about' %}">ABOUT</a></li>
          </ul>
      </div>
  </div>
</nav>

<!--SubNavBar-->
{% comment %} <video class="HomeCover_video cover HomeCover_Video HomeCover_Video_playing" aria-hidden="true" tabindex="-1" preload="auto" autoplay="" loop="" playsinline=""> {% endcomment %}
  {% comment %} <source type="video/mp4" src="{% static "video/video_inicio.mp4" %}"> {% endcomment %}
{% comment %} </video> {% endcomment %}

{% comment %} <section class="bg-image" style="background-image: url({% static "img/home_image_1.jpg" %});"> {% endcomment %}
  {% comment %} style="background-image: url({% static "video/video_inicio.mp4" %});" {% endcomment %}
 {% comment %} <section class="bg-image">  {% endcomment %}
  <video class="HomeCover_video cover HomeCover_Video HomeCover_Video_playing bg-image " aria-hidden="true" tabindex="-1" preload="auto" autoplay="" loop="" playsinline="" style="width:100%;"> 
    <source type="video/mp4" src="{% static "video/video_inicio.mp4" %}">
  </video> 

<section class="showcase" style="position:absolute; top:85%; text-align:right; left:5%;">
    <div class="text-center my-2">
        {% comment %} <h1 class=" fs-0 mb-5 fw-border serif" style=" color:white;">Welcome to Louvre Museum</h1> {% endcomment %}
        <p class="text-white fs-2 mb-5 serif">Travel, discover, enjoy!</p>
    </div>
  </section> 
  
{% comment %} </section> {% endcomment %}



<!--Body-->
<section class="py-5 bg-white">
  <div class="container ">
      {% comment %} <h2 class="text-center fs-1 my-5">TEXT</h2> {% endcomment %}
      <div class="row col-lg-40 my-5 justify-content-between serif">
          <div class="col-lg-6 my-5 serif">
              <p class="lead col-lg-40 my-10 fs-4">

                The Louvre is definitely the most famous museum in France and perhaps in the world. With a collection that takes months to fully discover, 
                and occupying a building that was the center of the historical events that transformed France and the world.On August 10, 1793, the Louvre Museum, 
                which is located on the right bank of Paris, opened its doors to the public. For more than 600 years, the Louvre had been a symbol of the wealth, 
                power and decline of the French monarchy, so the confiscation and reconstitution of what had been a royal palace into a national museum was seen as 
                a great cultural gesture that matched the values ​​of the recent French Revolution.
                Today it is one of the largest museums in the world, it has around 445,000 pieces, of which 35,000 are on display. In order to enjoy it more comfortably, 
                the museum is divided into different rooms according to their thematic organization, these being:
                -Oriental Antiquities
                -Egyptian Antiquities
                -greek antiquities
                -roman antiquities
                -Etruscan Antiquities
                -louvre history
                -The Medieval Louvre
                -Paint
                -Sculpture
                -art objects
                -islamic art
                -Graphic arts
                The museum has an area of   210,000 m², of which 60,500 m² are galleries. With more than 8,500,000 visitors a year, they make the Louvre one of the most 
                important museums in the world.
              </p>
              
          </div>
          <div class="col-lg-6">
          
                  <img class="logo-gif" src="{% static "img/image_processing20201115-10548-1kq6tsk.gif" %}" alt="Card image">
          </div>
      </div>

  </div>
</section>

<section class="bg-dark text-white text-center bg-image" style="background-image: url({% static "img/home_image_2.jpg" %});">
  <section class="py-5 bg-primary-70">
    <h2 class="fs-0 serif">Visit our Artworks Catalog</h2>
    <h4>TEXT</h4>
    <a href="{% url 'catalog' %}" class="btn btn-secondary text-white btn-lg">Catalog</a>
  </section>
</section>


{% endblock content %}