{% load static %}

<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Museum</title>
    <link rel="icon" type="image/x-icon" href="{% static "img/museum_loco_ico.ico" %}" />

    <link rel="stylesheet" href="{% static "css/sb-admin-2.css" %}">
    <link rel="stylesheet" href="{% static "css/all.css" %}">
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
              
  </head>


<body>
  
  {% block content %}{% endblock content %}

  <!-- Footer-->
  <footer class="py-5 bg-primary ">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Louvre Museum 2022</p></div>
    <div class="social text-center " style = "font-size:1.5em">
      <a href="https://twitter.com/MuseeLouvre?t=DtlOEpiApzE2eglsJazdeQ&s=09">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://m.facebook.com/museedulouvre">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="https://www.linkedin.com/mwlite/company/musee-du-louvre">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://instagram.com/museelouvre?igshid=YmMyMTA2M2Y=">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://www.pinterest.fr/museedulouvre/">
        <i class="fab fa-pinterest"></i>
      </a>
    </div>
  </footer>

</body>

<!-- for dropdown-menu -->
<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "js/bootstrap.bundle.min.js" %}"></script>


</html>