{% load static %}

<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Museum</title>
    <link rel="icon" type="image/x-icon" href="{% static "img/museum_loco_ico.ico" %}" />

    <link rel="stylesheet" href="{% static "css/sb-admin-2.css" %}">
    <link rel="stylesheet" href="{% static "css/all.css" %}">
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
              
  </head>


<body>
  
  {% block content %}{% endblock content %}

  <!-- Footer-->
  <footer class="py-5 bg-primary ">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Skyrim in Stats 2022</p></div>
  </footer>

</body>

<!-- for dropdown-menu -->
<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "js/bootstrap.bundle.min.js" %}"></script>


</html>